<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Zilize/HumbleHome@master/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Zilize/HumbleHome@master/static/animate.min.css">
    <link rel="icon" type="image/x-icon" href="https://cdn.jsdelivr.net/gh/Zilize/HumbleHome@master/static/clip.ico" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <title>日记 | 寒舍</title>
</head>
<body>
    <div id="app" v-cloak>
        <div id="logo1" class="animated bounceInLeft">寒</div>
        <div id="logo2" class="animated bounceInLeft" style="z-index: -10;">舍</div>
        <img src="http://zilize.moecode.com/land/l.png" alt="hello" id="line" width="33%" height="33%" class="animated bounceInDown" style="z-index: -10;"><br>
        <div id="nav">
            <div id="home" class="animated bounceInRight"><a href="./index.html">首页</a></div>
            <div id="diary" class="animated bounceInRight"><a href="./diary.html" style="color: #111;">日记</a></div>
            <div id="photo" class="animated bounceInRight"><a href="./photo.html">相册</a></div>
            <div id="comment" class="animated bounceInRight"><a href="./doc.html">文档</a></div>
            <div id="about" class="animated bounceInRight"><a href="./about.html">关于</a></div>
        </div>
        <div id="album">
            <img src="http://zilize.moecode.com/land/1.png" class="animated fadeIn" alt="1" style="filter: grayscale(80%);" width="28%" height="28%">&nbsp;
            <img src="http://zilize.moecode.com/land/2.jpg" class="animated fadeIn" alt="2" style="filter: grayscale(80%);" width="28%" height="28%">&nbsp;
            <img src="http://zilize.moecode.com/land/3.jpg" class="animated fadeIn" alt="3" style="filter: grayscale(80%);" width="28%" height="28%">
        </div>
        <div id="articles" class="animated fadeIn">
            <img src="http://zilize.moecode.com/land/time.gif" alt="loading" v-if="!isLoad" width="15%" height="15%" style="padding-left: 43%;">
            <div v-for="article in articles">
                <p class="title"><b><a>{{ article.title }}</a></b></p>
                <p class="author">作者: {{ article.author }}</p>
                <p class="content"><span v-html="article.content"></span></p><br>
            </div>
        </div>
        <div id="footer">Proudly by Zilize @ 2019</div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/Zilize/HumbleHome@master/static/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Zilize/HumbleHome@master/static/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: function() {
                return {
                    isLoad: 0,
                    articles:[]
                }
            },
            created: function() {
                axios({
                    method: 'get',
                    url: 'https://cdn.jsdelivr.net/gh/Zilize/HumbleHome@master/static/articles.json',
                    timeout: 5000
                }).then(res => {
                    this.isLoad = 1;
                    this.articles = res.data["articles"];
                })
            }
        })
    </script>
</body>
</html>